* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1693dc;
}

.wrapper {
    text-align: center;
    position: relative;
    width: 300px;
    height: 140px;
}

#btn {
    display: none;
}

.wrapper .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    transition: letter-spacing 0.4s ease;
}

.wrapper .btn .share,
.wrapper .btn .cancel {
    background: #fff;
    width: 40%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    opacity: 0;
    transition: all 0.4s ease;
}

.wrapper .btn .share:hover,
.wrapper .btn .cancel:hover {
    letter-spacing: 1px;
}

.wrapper .btn .share {
    opacity: 1;
    z-index: 2;
}

#btn:checked~.btn .share {
    opacity: 0;
    z-index: 1;
}

#btn:checked~.btn .cancel {
    opacity: 1;
    z-index: 2;
}

.wrapper .social-icons {
    background: #fff;
    border-radius: 20px;
    position: absolute;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 0px;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease;
}

#btn:checked~.social-icons {
    opacity: 1;
    top: 20px;
}

.wrapper .social-icons::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    z-index: -1;

}

.wrapper .social-icons a i {
    font-size: 20px;
    cursor: pointer;
    margin: 0 8px;
    color: #1693dc;
    transition: transform 0.4s ease, color 0.4s ease;
}

.wrapper .social-icons a:hover i {
    transform: translateY(-3px)
}

.social-icons .fa-facebook:hover {
    color: #7093dc;
}

.social-icons .fa-twitter:hover {
    color: #9993dc;
}

.social-icons .fa-instagram:hover {
    color: rgb(187, 55, 77);
}

.social-icons .fa-youtube:hover {
    color: red;
}